body{background-image: url("Arpita 20170118_182318.jpg");
	     background-color: aliceblue;
	     background-size: 655px;
	     background-repeat: no-repeat;
	     background-attachment: fixed;} 
	 h1{padding-left: 820px;
	    text-shadow: 3px 2px red;} 
	 h2{padding-left: 250px;
	    color: rgb(250,20,30);}   
	  div{padding-left: 605px;}
	   div.1{padding-left: 200px;}
	   p{
	     padding-right: 400px;} 
	   }
	   	